/* h3,p{
    color: black;
}
img{
    opacity: 0.7;
} */
.videoCard{
    border: 1px solid lightgray;
    margin-bottom: 40px;
    margin: 60px;

    /* margin-right: 20px; */
    width: 34vw;
    /* display: flex; */
}
.videoCard__thubnail{
    height: 240px;
    width: 30vw;
    object-fit: contain;
    
}
.videoCard__info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.videoCard__text{
    margin-left:15px;

}
.videoCard__text > h4{
    font-size: 14px;;
    margin-bottom: 5px;

}
.videoCard__text > p{
    font-size: 14px;
    color: gray;
}
.videoCard__Avatar{
    height: 50px !important;
    width: 50px !important;
}
.side{
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}
.h4{
    margin: auto;
    width: 50px;
}
